# Import & Data Load

In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/merged_accounts_data.csv")

C:\Users\PC\AppData\Local\Temp\ipykernel_18044\390590770.py:4: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/merged_accounts_data.csv")

# Preprocessing

In [18]:
# wide → long 변환 (연도별 값)
year_cols = [c for c in df.columns if c.isdigit()]  # '1981' ~ '2025'
df_long = df.melt(
    id_vars=["Symbol","Name","결산월","종류","계정","계정명","주기",
             "한국표준산업분류11차(대분류)","한국표준산업분류11차(중분류)","한국표준산업분류11차(소분류)",
             "한국표준산업분류코드11차(대분류)","한국표준산업분류코드11차(중분류)","한국표준산업분류코드11차(소분류)"],
    value_vars=year_cols,
    var_name="연도", value_name="값"
)

In [19]:
# 피벗: 계정과목을 열로
df_pivot = df_long.pivot_table(
    index=["Symbol","Name","연도",
           "한국표준산업분류11차(대분류)","한국표준산업분류11차(중분류)","한국표준산업분류11차(소분류)",
           "한국표준산업분류코드11차(대분류)","한국표준산업분류코드11차(중분류)","한국표준산업분류코드11차(소분류)"],
    columns="계정명", values="값", aggfunc="first"
).reset_index()

df_pivot.head()

계정명,Symbol,Name,연도,한국표준산업분류11차(대분류),한국표준산업분류11차(중분류),한국표준산업분류11차(소분류),한국표준산업분류코드11차(대분류),한국표준산업분류코드11차(중분류),한국표준산업분류코드11차(소분류),"CAPEX (E1, Manuf.)(백만원)",...,영업활동으로인한현금흐름(백만원),유동부채(백만원),유동비율(%),유동성장기부채(백만원),유동자산(백만원),이자보상배율(배),자기자본비율(%),총자산(백만원),총자산회전율(회),현금및현금성자산(백만원)
0,A000010,신한은행,1981,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,17224316.072,NaN,NaN,NaN,NaN,NaN,2.09,5417531.418,NaN,489569.355
1,A000010,신한은행,1982,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,-343427.607,NaN,NaN,NaN,NaN,NaN,2.08,6549358.659,0.07,584855.383
2,A000010,신한은행,1983,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,791000.885,NaN,NaN,NaN,NaN,NaN,2.75,7307866.697,0.06,513538.481
3,A000010,신한은행,1984,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,-285439.663,NaN,NaN,NaN,NaN,NaN,2.62,7848955.51,0.06,805794.911
4,A000010,신한은행,1985,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,6861369.425,NaN,NaN,NaN,NaN,NaN,2.54,8317734.751,0.06,732155.993

In [20]:
df_pivot.columns

Index(['Symbol', 'Name', '연도', '한국표준산업분류11차(대분류)', '한국표준산업분류11차(중분류)',
       '한국표준산업분류11차(소분류)', '한국표준산업분류코드11차(대분류)', '한국표준산업분류코드11차(중분류)',
       '한국표준산업분류코드11차(소분류)', 'CAPEX (E1, Manuf.)(백만원)', 'EBIT(백만원)',
       'EBITDA(백만원)', 'EV(백만원)', 'FCF (E1)(백만원)', 'PBR(배)', 'PER(배)',
       'ROA(당기순이익)(%)', 'ROE(당기순이익)(%)', 'ROIC(%)', '기말발행주식수 (보통)(주)',
       '당기순이익(백만원)', '매출액(백만원)', '매출총이익(백만원)', '매출총이익률(%)', '부채비율(%)',
       '세후영업이익(백만원)', '영업이익률(%)', '영업활동으로인한현금흐름(백만원)', '유동부채(백만원)', '유동비율(%)',
       '유동성장기부채(백만원)', '유동자산(백만원)', '이자보상배율(배)', '자기자본비율(%)', '총자산(백만원)',
       '총자산회전율(회)', '현금및현금성자산(백만원)'],
      dtype='object', name='계정명')

In [21]:
df_pivot.columns = ['Symbol', 'Name', '연도', '산업분류(대분류)', '산업분류(중분류)',
    '산업분류(소분류)', '산업분류코드(대분류)', '산업분류코드(중분류)',
    '산업분류코드(소분류)', 'CAPEX', 'EBIT',
    'EBITDA', 'EV', 'FCF', 'PBR', 'PER',
    'ROA', 'ROE', 'ROIC', '기말발행주식수',
    '당기순이익', '매출액', '매출총이익', '매출총이익률', '부채비율', '세후영업이익',
    '영업이익률', '영업활동으로인한현금흐름', '유동부채', '유동비율', '유동성장기부채',
    '유동자산', '이자보상배율', '자기자본비율', '총자산', '총자산회전율',
    '현금및현금성자산']

df_pivot.columns

Index(['Symbol', 'Name', '연도', '산업분류(대분류)', '산업분류(중분류)', '산업분류(소분류)',
       '산업분류코드(대분류)', '산업분류코드(중분류)', '산업분류코드(소분류)', 'CAPEX', 'EBIT', 'EBITDA',
       'EV', 'FCF', 'PBR', 'PER', 'ROA', 'ROE', 'ROIC', '기말발행주식수', '당기순이익',
       '매출액', '매출총이익', '매출총이익률', '부채비율', '세후영업이익', '영업이익률', '영업활동으로인한현금흐름',
       '유동부채', '유동비율', '유동성장기부채', '유동자산', '이자보상배율', '자기자본비율', '총자산', '총자산회전율',
       '현금및현금성자산'],
      dtype='object')

In [22]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99166 entries, 0 to 99165
Data columns (total 37 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Symbol        99166 non-null  object
 1   Name          99166 non-null  object
 2   연도            99166 non-null  object
 3   산업분류(대분류)     99166 non-null  object
 4   산업분류(중분류)     99166 non-null  object
 5   산업분류(소분류)     99166 non-null  object
 6   산업분류코드(대분류)   99166 non-null  object
 7   산업분류코드(중분류)   99166 non-null  float64
 8   산업분류코드(소분류)   99166 non-null  float64
 9   CAPEX         6053 non-null   object
 10  EBIT          74355 non-null  object
 11  EBITDA        74355 non-null  object
 12  EV            69671 non-null  object
 13  FCF           6644 non-null   object
 14  PBR           55624 non-null  object
 15  PER           39922 non-null  object
 16  ROA           70406 non-null  object
 17  ROE           70158 non-null  object
 18  ROIC          64683 non-null  object
 19  기말발행주식수       97877 non-null  object
 20  당기순이익         74367 non-null  object
 21  매출액           74367 non-null  object
 22  매출총이익         74367 non-null  object
 23  매출총이익률        73333 non-null  object
 24  부채비율          74036 non-null  object
 25  세후영업이익        69690 non-null  object
 26  영업이익률         73333 non-null  object
 27  영업활동으로인한현금흐름  74102 non-null  object
 28  유동부채          69688 non-null  object
 29  유동비율          69670 non-null  object
 30  유동성장기부채       69688 non-null  object
 31  유동자산          69688 non-null  object
 32  이자보상배율        52191 non-null  object
 33  자기자본비율        74301 non-null  object
 34  총자산           74362 non-null  object
 35  총자산회전율        70406 non-null  object
 36  현금및현금성자산      74362 non-null  object
dtypes: float64(2), object(35)
memory usage: 28.0+ MB

In [23]:
# 수치형 변수 타입 변환
for column in df_pivot.columns[9:]:
    df_pivot[column] = pd.to_numeric(df_pivot[column], errors="coerce")

df_pivot["연도"] = pd.to_numeric(df_pivot["연도"], errors="coerce")

In [24]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99166 entries, 0 to 99165
Data columns (total 37 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Symbol        99166 non-null  object
 1   Name          99166 non-null  object
 2   연도            99166 non-null  int64
 3   산업분류(대분류)     99166 non-null  object
 4   산업분류(중분류)     99166 non-null  object
 5   산업분류(소분류)     99166 non-null  object
 6   산업분류코드(대분류)   99166 non-null  object
 7   산업분류코드(중분류)   99166 non-null  float64
 8   산업분류코드(소분류)   99166 non-null  float64
 9   CAPEX         6053 non-null   float64
 10  EBIT          74355 non-null  float64
 11  EBITDA        74355 non-null  float64
 12  EV            69671 non-null  float64
 13  FCF           6644 non-null   float64
 14  PBR           55624 non-null  float64
 15  PER           39922 non-null  float64
 16  ROA           68008 non-null  float64
 17  ROE           66080 non-null  float64
 18  ROIC          62375 non-null  float64
 19  기말발행주식수       97877 non-null  float64
 20  당기순이익         74367 non-null  float64
 21  매출액           74367 non-null  float64
 22  매출총이익         74367 non-null  float64
 23  매출총이익률        73333 non-null  float64
 24  부채비율          72023 non-null  float64
 25  세후영업이익        69690 non-null  float64
 26  영업이익률         73333 non-null  float64
 27  영업활동으로인한현금흐름  74102 non-null  float64
 28  유동부채          69688 non-null  float64
 29  유동비율          69670 non-null  float64
 30  유동성장기부채       69688 non-null  float64
 31  유동자산          69688 non-null  float64
 32  이자보상배율        52191 non-null  float64
 33  자기자본비율        72022 non-null  float64
 34  총자산           74362 non-null  float64
 35  총자산회전율        68008 non-null  float64
 36  현금및현금성자산      74362 non-null  float64
dtypes: float64(30), int64(1), object(6)
memory usage: 28.0+ MB

In [25]:
### 핵심 지표 계산

# 현금흐름
df_pivot["CFO_NI"] = df_pivot["영업활동으로인한현금흐름"] / df_pivot["당기순이익"].replace(0, np.nan)
df_pivot["Accruals"] = df_pivot["당기순이익"] - df_pivot["영업활동으로인한현금흐름"]

# 성장률(YoY)
df_pivot = df_pivot.sort_values(["Symbol","연도"])
df_pivot["SalesGrowth"] = df_pivot.groupby("Symbol")["매출액"].pct_change()
df_pivot["EBITGrowth"] = df_pivot.groupby("Symbol")["세후영업이익"].pct_change()
df_pivot["NIGrowth"] = df_pivot.groupby("Symbol")["당기순이익"].pct_change()
df_pivot["SalesCAGR3Y"] = (df_pivot.groupby("Symbol")["매출액"]
                           .apply(lambda x: x.pct_change(3).add(1)**(1/3) - 1))

C:\Users\PC\AppData\Local\Temp\ipykernel_18044\3168844204.py:13: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  .apply(lambda x: x.pct_change(3).add(1)**(1/3) - 1))

In [26]:
# 가치배수
df_pivot["EV_EBITDA"] = df_pivot["EV"] / df_pivot["EBITDA"]

In [27]:
# Piotroski F-Score 계산
df_pivot = df_pivot.sort_values(["Symbol","연도"])

# 1. Profitability 항목
cond1 = (df_pivot["당기순이익"] > 0).astype(int)
cond2 = (df_pivot["영업활동으로인한현금흐름"] > 0).astype(int)
cond3 = (df_pivot["영업활동으로인한현금흐름"] > df_pivot["당기순이익"]).astype(int)
cond4 = (df_pivot.groupby("Symbol")["ROA"].diff() > 0).astype(int)

# 2. Leverage/Liquidity 항목
cond5 = (df_pivot.groupby("Symbol")["유동성장기부채"].diff() < 0).astype(int)   # 장기부채 감소
cond6 = (df_pivot.groupby("Symbol")["유동비율"].diff() > 0).astype(int)
# 전년 대비 발행주식수 변화 확인
df_pivot["Shares_Issued"] = df_pivot.groupby("Symbol")["기말발행주식수"].diff()
cond7 = (df_pivot["Shares_Issued"].fillna(0) == 0).astype(int)   # 실제 데이터에 맞게 변수 필요

# 3. Operating Efficiency 항목
cond8 = (df_pivot.groupby("Symbol")["매출총이익률"].diff() > 0).astype(int)
cond9 = (df_pivot.groupby("Symbol")["총자산회전율"].diff() > 0).astype(int)

# 최종 F-Score
df_pivot["F_Score"] = cond1 + cond2 + cond3 + cond4 + cond5 + cond6 + cond7 + cond8 + cond9

In [28]:
### 산업별 z-score 중립화

features = [
    'FCF', 'PBR', 'PER', 'ROA', 'ROE', 'ROIC', '매출총이익률', '영업이익률',
    '총자산회전율', 'CFO_NI', 'Accruals', 'SalesGrowth', 'EBITGrowth',
    '부채비율', '이자보상배율', 'NIGrowth', 'SalesCAGR3Y', 'EV_EBITDA',
    '유동비율', 'F_Score'
]

for f in features:
    df_pivot[f+"_z"] = df_pivot.groupby(["연도", "산업분류(중분류)"])[f].transform(
        lambda x: (x - x.mean()) / x.std(ddof=0)
    )

In [29]:
# 결과 확인
print(df_pivot[["Symbol", "연도", "산업분류(중분류)"] + [f+"_z" for f in features]].head())

    Symbol    연도 산업분류(중분류)  FCF_z     PBR_z     PER_z     ROA_z     ROE_z  \
0  A000010  1981       금융업    NaN  1.373178  0.865892       NaN       NaN
1  A000010  1982       금융업    NaN  1.487818  0.211123 -0.423324 -0.330436
2  A000010  1983       금융업    NaN -0.200904  0.133910 -0.460941 -0.497389
3  A000010  1984       금융업    NaN -0.668153  1.129126 -0.685908 -1.145332
4  A000010  1985       금융업    NaN -0.265979  0.953835 -0.489840 -0.736597

   ROIC_z  매출총이익률_z  ...  Accruals_z  SalesGrowth_z  EBITGrowth_z    부채비율_z  \
0     NaN -0.928057  ...   -4.236613            NaN           NaN  1.575032
1     NaN -0.240005  ...    2.392559            NaN           NaN  1.501181
2     NaN -0.312386  ...   -4.688299            NaN           NaN  1.161707
3     NaN -0.715566  ...    2.074487      -0.340281           NaN  1.243963
4     NaN -0.582079  ...   -5.365459            NaN           NaN  1.226170

   이자보상배율_z  NIGrowth_z  SalesCAGR3Y_z  EV_EBITDA_z  유동비율_z  F_Score_z
0       NaN         NaN            NaN          NaN     NaN   1.117647
1       NaN   -0.135171            NaN          NaN     NaN  -0.321412
2       NaN   -0.459071            NaN          NaN     NaN   0.672214
3       NaN   -0.876881            NaN          NaN     NaN  -0.645314
4       NaN    0.178997            NaN          NaN     NaN   1.014599

[5 rows x 23 columns]

In [30]:
# 전처리 완료된 데이터프레임 저장
df_pivot.to_csv("data/preprocessed_accounts_data.csv", index=False)

# Calculate Scores & Extract Top/Bottom 10 Companies

In [31]:
z_features = [f + "_z" for f in features]

# 2021~2023 데이터만 필터링
df_sub = df_pivot[df_pivot["연도"].isin([2021, 2022, 2023])].copy()

# 기업별 평균 z-score 계산
df_score = (
    df_sub.groupby(["Symbol", "Name"])[z_features]
        .mean()
        .reset_index()
)

# 최종 스코어 생성
df_score["FinalScore"] = df_score[z_features].mean(axis=1)

# 상위/하위 20개 기업 추출
top10 = df_score.nlargest(10, "FinalScore")
bottom10 = df_score.nsmallest(10, "FinalScore")

print("======== Top 10 ========")
print(top10[["Symbol", "Name", "FinalScore"]])

print("\n======== Bottom 10 ========")
print(bottom10[["Symbol", "Name", "FinalScore"]])

======== Top 10 ========
       Symbol     Name  FinalScore
2857  A475830   오름테라퓨틱    1.925280
2882  A483650    달바글로벌    1.381036
2876  A481070   에이유브랜즈    1.251749
2615  A403870     HPSP    1.230882
1139  A058470     리노공업    1.091762
2806  A462860       더즌    0.999078
2721  A445090    에이직랜드    0.995522
1827  A151860  KG에코솔루션    0.966136
701   A027560     케이디엠    0.965089
1196  A064760     티씨케이    0.964818

======== Bottom 10 ========
       Symbol        Name  FinalScore
2904  A499790       GS피앤엘   -2.354932
2899  A489790        한화비전   -1.991673
2847  A475150      SK이터닉스   -1.812298
2759  A452430      사피엔반도체   -1.699155
1346  A078650       지나인제약   -1.580717
1091  A053660        현진소재   -1.560418
671   A025340      그린기술투자   -1.543172
1661  A114570     지스마트글로벌   -1.372788
1136  A058420        제이웨이   -1.360950
31    A0004Y0  디비금융제14호스팩   -1.282100

In [32]:
# 추천 결과 저장
top10.to_csv("outputs/top10.csv", index=False)
bottom10.to_csv("outputs/bottom10.csv", index=False)

In [34]:
# z-score 및 최종 점수 저장
df_score.to_csv("outputs/score.csv", index=False)