In [1]:
import pandas as pd
import numpy as np

# 1. 데이터 불러오기
df = pd.read_csv("merged_accounts_data.csv")
df.columns

C:\Users\halma\AppData\Local\Temp\ipykernel_17780\2224132793.py:5: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("merged_accounts_data.csv")

Index(['Symbol', 'Name', '결산월', '종류', '계정', '계정명', '주기', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '한국표준산업분류11차(대분류)', '한국표준산업분류11차(중분류)', '한국표준산업분류11차(소분류)',
       '한국표준산업분류코드11차(대분류)', '한국표준산업분류코드11차(중분류)', '한국표준산업분류코드11차(소분류)'],
      dtype='object')

In [2]:
# 2. wide → long 변환 (연도별 값)
year_cols = [c for c in df.columns if c.isdigit()]  # '1981' ~ '2025'
df_long = df.melt(
    id_vars=["Symbol","Name","결산월","종류","계정","계정명","주기",
             "한국표준산업분류11차(대분류)","한국표준산업분류11차(중분류)","한국표준산업분류11차(소분류)",
             "한국표준산업분류코드11차(대분류)","한국표준산업분류코드11차(중분류)","한국표준산업분류코드11차(소분류)"],
    value_vars=year_cols,
    var_name="연도", value_name="값"
)

In [3]:
# 3. 피벗: 계정과목을 열로
df_pivot = df_long.pivot_table(
    index=["Symbol","Name","연도",
           "한국표준산업분류11차(대분류)","한국표준산업분류11차(중분류)","한국표준산업분류11차(소분류)",
           "한국표준산업분류코드11차(대분류)","한국표준산업분류코드11차(중분류)","한국표준산업분류코드11차(소분류)"],
    columns="계정명", values="값", aggfunc="first"
).reset_index()

df_pivot.head()

계정명,Symbol,Name,연도,한국표준산업분류11차(대분류),한국표준산업분류11차(중분류),한국표준산업분류11차(소분류),한국표준산업분류코드11차(대분류),한국표준산업분류코드11차(중분류),한국표준산업분류코드11차(소분류),"CAPEX (E1, Manuf.)(백만원)",...,영업활동으로인한현금흐름(백만원),유동부채(백만원),유동비율(%),유동성장기부채(백만원),유동자산(백만원),이자보상배율(배),자기자본비율(%),총자산(백만원),총자산회전율(회),현금및현금성자산(백만원)
0,A000010,신한은행,1981,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,17224316.072,NaN,NaN,NaN,NaN,NaN,2.09,5417531.418,NaN,489569.355
1,A000010,신한은행,1982,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,-343427.607,NaN,NaN,NaN,NaN,NaN,2.08,6549358.659,0.07,584855.383
2,A000010,신한은행,1983,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,791000.885,NaN,NaN,NaN,NaN,NaN,2.75,7307866.697,0.06,513538.481
3,A000010,신한은행,1984,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,-285439.663,NaN,NaN,NaN,NaN,NaN,2.62,7848955.51,0.06,805794.911
4,A000010,신한은행,1985,금융 및 보험업,금융업,은행 및 저축기관,K,64.0,641.0,NaN,...,6861369.425,NaN,NaN,NaN,NaN,NaN,2.54,8317734.751,0.06,732155.993

In [4]:
df_pivot.columns

Index(['Symbol', 'Name', '연도', '한국표준산업분류11차(대분류)', '한국표준산업분류11차(중분류)',
       '한국표준산업분류11차(소분류)', '한국표준산업분류코드11차(대분류)', '한국표준산업분류코드11차(중분류)',
       '한국표준산업분류코드11차(소분류)', 'CAPEX (E1, Manuf.)(백만원)', 'EBIT(백만원)',
       'EBITDA(백만원)', 'EV(백만원)', 'FCF (E1)(백만원)', 'PBR(배)', 'PER(배)',
       'ROA(당기순이익)(%)', 'ROE(당기순이익)(%)', 'ROIC(%)', '기말발행주식수 (보통)(주)',
       '당기순이익(백만원)', '매출액(백만원)', '매출총이익(백만원)', '매출총이익률(%)', '부채비율(%)',
       '세후영업이익(백만원)', '영업이익률(%)', '영업활동으로인한현금흐름(백만원)', '유동부채(백만원)', '유동비율(%)',
       '유동성장기부채(백만원)', '유동자산(백만원)', '이자보상배율(배)', '자기자본비율(%)', '총자산(백만원)',
       '총자산회전율(회)', '현금및현금성자산(백만원)'],
      dtype='object', name='계정명')

In [5]:
df_pivot.columns=['Symbol', 'Name', '연도', '산업분류(대분류)', '산업분류(중분류)',
    '산업분류(소분류)', '산업분류코드(대분류)', '산업분류코드(중분류)',
    '산업분류코드(소분류)', 'CAPEX', 'EBIT',
    'EBITDA', 'EV', 'FCF', 'PBR', 'PER',
    'ROA', 'ROE', 'ROIC', '기말발행주식수',
    '당기순이익', '매출액', '매출총이익', '매출총이익률', '부채비율', '세후영업이익',
    '영업이익률', '영업활동으로인한현금흐름', '유동부채', '유동비율', '유동성장기부채',
    '유동자산', '이자보상배율', '자기자본비율', '총자산', '총자산회전율',
    '현금및현금성자산']

df_pivot.columns

Index(['Symbol', 'Name', '연도', '산업분류(대분류)', '산업분류(중분류)', '산업분류(소분류)',
       '산업분류코드(대분류)', '산업분류코드(중분류)', '산업분류코드(소분류)', 'CAPEX', 'EBIT', 'EBITDA',
       'EV', 'FCF', 'PBR', 'PER', 'ROA', 'ROE', 'ROIC', '기말발행주식수', '당기순이익',
       '매출액', '매출총이익', '매출총이익률', '부채비율', '세후영업이익', '영업이익률', '영업활동으로인한현금흐름',
       '유동부채', '유동비율', '유동성장기부채', '유동자산', '이자보상배율', '자기자본비율', '총자산', '총자산회전율',
       '현금및현금성자산'],
      dtype='object')

In [6]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99166 entries, 0 to 99165
Data columns (total 37 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Symbol        99166 non-null  object
 1   Name          99166 non-null  object
 2   연도            99166 non-null  object
 3   산업분류(대분류)     99166 non-null  object
 4   산업분류(중분류)     99166 non-null  object
 5   산업분류(소분류)     99166 non-null  object
 6   산업분류코드(대분류)   99166 non-null  object
 7   산업분류코드(중분류)   99166 non-null  float64
 8   산업분류코드(소분류)   99166 non-null  float64
 9   CAPEX         6053 non-null   object
 10  EBIT          74355 non-null  object
 11  EBITDA        74355 non-null  object
 12  EV            69671 non-null  object
 13  FCF           6644 non-null   object
 14  PBR           55624 non-null  object
 15  PER           39922 non-null  object
 16  ROA           70406 non-null  object
 17  ROE           70158 non-null  object
 18  ROIC          64683 non-null  object
 19  기말발행주식수       97877 non-null  object
 20  당기순이익         74367 non-null  object
 21  매출액           74367 non-null  object
 22  매출총이익         74367 non-null  object
 23  매출총이익률        73333 non-null  object
 24  부채비율          74036 non-null  object
 25  세후영업이익        69690 non-null  object
 26  영업이익률         73333 non-null  object
 27  영업활동으로인한현금흐름  74102 non-null  object
 28  유동부채          69688 non-null  object
 29  유동비율          69670 non-null  object
 30  유동성장기부채       69688 non-null  object
 31  유동자산          69688 non-null  object
 32  이자보상배율        52191 non-null  object
 33  자기자본비율        74301 non-null  object
 34  총자산           74362 non-null  object
 35  총자산회전율        70406 non-null  object
 36  현금및현금성자산      74362 non-null  object
dtypes: float64(2), object(35)
memory usage: 28.0+ MB

In [7]:
for column in df_pivot.columns[9:]:
    df_pivot[column] = pd.to_numeric(df_pivot[column], errors="coerce")

In [8]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99166 entries, 0 to 99165
Data columns (total 37 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Symbol        99166 non-null  object
 1   Name          99166 non-null  object
 2   연도            99166 non-null  object
 3   산업분류(대분류)     99166 non-null  object
 4   산업분류(중분류)     99166 non-null  object
 5   산업분류(소분류)     99166 non-null  object
 6   산업분류코드(대분류)   99166 non-null  object
 7   산업분류코드(중분류)   99166 non-null  float64
 8   산업분류코드(소분류)   99166 non-null  float64
 9   CAPEX         6053 non-null   float64
 10  EBIT          74355 non-null  float64
 11  EBITDA        74355 non-null  float64
 12  EV            69671 non-null  float64
 13  FCF           6644 non-null   float64
 14  PBR           55624 non-null  float64
 15  PER           39922 non-null  float64
 16  ROA           68008 non-null  float64
 17  ROE           66080 non-null  float64
 18  ROIC          62375 non-null  float64
 19  기말발행주식수       97877 non-null  float64
 20  당기순이익         74367 non-null  float64
 21  매출액           74367 non-null  float64
 22  매출총이익         74367 non-null  float64
 23  매출총이익률        73333 non-null  float64
 24  부채비율          72023 non-null  float64
 25  세후영업이익        69690 non-null  float64
 26  영업이익률         73333 non-null  float64
 27  영업활동으로인한현금흐름  74102 non-null  float64
 28  유동부채          69688 non-null  float64
 29  유동비율          69670 non-null  float64
 30  유동성장기부채       69688 non-null  float64
 31  유동자산          69688 non-null  float64
 32  이자보상배율        52191 non-null  float64
 33  자기자본비율        72022 non-null  float64
 34  총자산           74362 non-null  float64
 35  총자산회전율        68008 non-null  float64
 36  현금및현금성자산      74362 non-null  float64
dtypes: float64(30), object(7)
memory usage: 28.0+ MB

In [10]:
df_pivot["CFO_NI"] = df_pivot["영업활동으로인한현금흐름"] / df_pivot["당기순이익"].replace(0, np.nan)
df_pivot["Accruals"] = df_pivot["당기순이익"] - df_pivot["영업활동으로인한현금흐름"]

# 성장률(YoY)
df_pivot = df_pivot.sort_values(["Symbol","연도"])
df_pivot["SalesGrowth"] = df_pivot.groupby("Symbol")["매출액"].pct_change()
df_pivot["EBITGrowth"] = df_pivot.groupby("Symbol")["세후영업이익"].pct_change()
df_pivot["NIGrowth"] = df_pivot.groupby("Symbol")["당기순이익"].pct_change()

C:\Users\halma\AppData\Local\Temp\ipykernel_17780\2858201799.py:6: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_pivot["SalesGrowth"] = df_pivot.groupby("Symbol")["매출액"].pct_change()
C:\Users\halma\AppData\Local\Temp\ipykernel_17780\2858201799.py:7: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_pivot["EBITGrowth"] = df_pivot.groupby("Symbol")["세후영업이익"].pct_change()
C:\Users\halma\AppData\Local\Temp\ipykernel_17780\2858201799.py:8: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_pivot["NIGrowth"] = df_pivot.groupby("Symbol")["당기순이익"].pct_change()